.dashboard-card-container{
    width:90%; 
    margin:auto;
    display:flex;
    flex-wrap: wrap;
}

.dashboard-card{
    width:300px;
    margin:10px;
}

.dashboard-heading{
    width:90%; 
    margin:auto;
}