<qna-container>
<div class="qna-heading">
<h1 class="mat-h1" id="text-h1-topics">Topics</h1>
</div>
<div class="qna-card-container">
  <mat-card  class="qna-card" style="border: 1.5px dashed #9da0a3">
        <h2 class="mat-h2">New Topic</h2>
    <h3 id="text-h3-error-message" class="mat-h3" style="color:red;">{{errorMessage}}</h3>
    <form style="display:flex; flex-direction:column">
      <mat-form-field>
      <input matInput type="text" name="toipcName" placeholder="Topic name"  [(ngModel)]="topic.name"/>
    </mat-form-field>
    <mat-form-field>
      <textarea id="#topic-field"
      matInput
      name="toipcDescription" placeholder="Topic description"  [(ngModel)]="topic.description"></textarea>
    </mat-form-field>
      <button id="#topic-button" mat-raised-button color="primary" (click)="addTopic()">Add Topic</button>
    </form>
  </mat-card>
<mat-card id=".topic-card" *ngFor='let topic of topics' class="qna-card">
  <h2 class="mat-h2" id=".topic-name">{{topic.name}}</h2>

  <div style="display:flex">
  <p style="flex:3">
  <span style="color:#ff4081">{{topic.createdOn | date}}</span>
  <br/>
    <span style="color:#000000" class="mat-h4">{{topic.createdBy.firstName}} {{topic.createdBy.lastName}}</span>
    <span style="color:lightslategray" class="mat-h5"> {{topic.createdBy.email}}</span>
  </p>
  <p style="flex:1"> 
      <button id=".view-topic-details" mat-raised-button color="primary" routerLink="/topic-details/{{topic.id}}" style="margin:2px">
        View Topic Details
      </button>
      <button id=".delete-topic" mat-button color="warn"(click)="deleteTopic(topic.id)" style="margin:2px;">
          Delete Topic
        </button>
  </p>
</div>
  <p id=".topic-description">{{topic.description}}</p>
</mat-card>
</div>
</qna-container>
