<div class="container-header">
<div *ngIf="!isLoggedIn">
    <button mat-raised-button routerLink="/login" color="primary">Login</button>
    <button mat-raised-button routerLink="/signup" color="accent">Signup</button>
</div>
<div *ngIf="isLoggedIn">
    <button mat-raised-button routerLink="/" color="primary">Home</button>
    <button id="#btn-logout" mat-raised-button (click)="logout()" color="accent">Logout</button>
</div>
</div>
<div style="padding-top:1.2em;">
        <ng-content></ng-content>
</div>

